body {
    background-color: rgba(175,175,175,0.3);
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
hr {

}
@keyframes opacity {
    0% {opacity: 1;}
    12.5% {opacity: 0.9;}
    25% {opacity: 0.8;}
    37.5% {opacity: 0.7;}
    50% {opacity: 0.6;}
    62.5% {opacity: 0.5;}
    75% {opacity: 0.4;}
    87.5% {opacity: 0.3;}
    100% {opacity: 0.2;}
}
@keyframes opacity1 {
    0% {opacity: 0.2;}
    12.5% {opacity: 0.3;}
    25% {opacity: 0.4;}
    37.5% {opacity: 0.5;}
    50% {opacity: 0.6;}
    62.5% {opacity: 0.7;}
    75% {opacity: 0.8;}
    87.5% {opacity: 0.9;}
    100% {opacity: 1;}
}
@keyframes ruota {
    0% {transform: rotate(0deg)}
    20% {transform: rotate(18deg)}
    40% {transform: rotate(36deg)}
    60% {transform: rotate(54deg)}
    80% {transform: rotate(72deg)}
    100% {transform: rotate(90deg)}
}
#box {
    border: 2px rgb(0,0,0) solid;
    border-radius: 0;
}
.menus {
    display: inline;
    list-style: none;
    margin-left: -5%;
}
.subtitle{
    font-size: 2em;
    font-weight: bold;
}
.block{
    border: rgba(200, 200, 200, 0.5) solid 2px;
}
@media screen and (min-width: 600px) and (max-width: 800px) {
    #sfondo {
        width: 50%;
        display: block;
        height: 105px;
        margin-left: 25%;
        animation: opacity 3s ;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    #scritta {
        font-size: 2em;
        font-weight: bold;
        float: left;
        margin-top: -10%;
        margin-left: 40%;
        text-align: center;
        animation: opacity 3s ;
        animation-iteration-count: 1;
        animation-fill-mode: backwards;
    }
    .menu.icon:active {
        animation: ruota 1s step-start;
    }
    .menu.icon {
        margin-top: 1.7%;   
    }
    #box {
        width: 18px;
        height: 24px;
        border-left: 1px rgba(175,175,175,0.3) solid;
        border-right: 1px rgba(175,175,175,0.3) solid;
        border-top: 1px rgba(175,175,175,0.3) solid;
        border-bottom: 1px rgba(175,175,175,0.3) solid;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
        margin-top: -13%;
    }
    .li {
        font-size: 1em;
        border: 2px rgba(200, 200, 200, 0.5) solid;
        background-color: rgba(200,200,200,0.3);
    }

        .li:hover {
            background-color: rgba(200,200,200, 1);
            font-size: 1.2em;
        }
    #chi {
        width: 10%;
        margin-top: -16%;
    }
    #cosa {
        width: 14%;
        margin-top: -12%;
        float: left;
        margin-left: -20.5%
    }
    #mezzi {
        width: 14%;
        margin-top: -7%;
        margin-left: -20.5%;
        float: left;
    }
    #ph {
        width: 20%;
        margin-top: -1.7%;
        float: left;
    }
    .logo {
        float: right;
        width: 10%;
        height: 5%;
    }
    a {
    }

        a:link, a:visited {
            color: rgb(255,255,255);
            text-decoration: none;
        }

        a:hover {
            color: rgba(150, 150, 150, 0.5);
        }
}
@media screen and (min-width: 801px) and (max-width: 1100px) {
    #sfondo {
        width: 50%;
        display: block;
        height: 144px;
        margin-left: 25%;
        animation: opacity 3s infinite
    }
    #scritta {
        font-size: 3em;
        font-weight: bold;
        float: left;
        margin-top: -9%;
        margin-left: 42%;
        text-align: center;
        animation: opacity1 3s infinite;
    }
    .logo {
        float: right;
        width: 10%;
        height: 5%;
    }
    .menu.icon{
        margin-top: 28%;
        float: left;
    }
    .menu.icon:active {
        animation: ruota 1s step-start;
    }
    #box {
        width: 18px;
        height: 24px;
        border-left: 1px rgba(175,175,175,0.3) solid;
        border-right: 1px rgba(175,175,175,0.3) solid;
        border-top: 1px rgba(175,175,175,0.3) solid;
        border-bottom: 1px rgba(175,175,175,0.3) solid;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
        margin-top: -12%;
        position: relative;
    }
    .li {
        font-size: 1em;
        border: 2px rgba(200, 200, 200, 0.5) solid;
        background-color: rgba(200,200,200,0.3);
        color: 
    }
        .li:hover {
            background-color: rgba(200,200,200, 1);
            font-size: 1.2em;
        }
    #chi {
        width: 6%;
        margin-top: -8%;
    }
    #cosa {
        width: 8%;
        margin-top: -6%;
        float: left;
        margin-left: 0%
    }
    #mezzi {
        width: 7%;
        margin-top: -4%;
        margin-left: 0%;
        float: left;
    }
    #ph {
        width: 10%;
        margin-top: -1.7%;
        float: left;
    }
    a:link, a:visited {
        color: rgb(255,255,255);
        text-decoration: none;
    }
    a:hover {
        color: rgba(150, 150, 150, 0.5);
    }
}
@media screen and (min-width: 1101px) and (max-width: 1920px) {
    #sfondo {
        width: 50%;
        display: block;
        height: 252px;
        margin-left: 25%;
        animation: opacity 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    #scritta {
        font-size: 4em;
        font-weight: bold;
        float: left;
        margin-top: -9%;
        margin-left: 43%;
        text-align: center;
        animation: opacity1 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;    
    }
    .menu.icon:active {
        animation: ruota 1s step-start;
    }
    #box {
        width: 18px;
        height: 20px;
        border-left: 1px rgba(175,175,175,0.0) solid;
        border-right: 1px rgba(175,175,175,0.0) solid;
        border-top: 1px rgba(175,175,175,0.0) solid;
        border-bottom: 1px rgba(175,175,175,0.0) solid;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
        margin-top: -13%;
    }
    .li {
        font-size: 2em;
        border: 2px rgba(200, 200, 200, 0.5) solid;
        background-color: rgba(200,200,200,0.3);
        display: inline;
        
    }
    .li:hover {
        background-color: rgba(200,200,200, 1);
        font-size: 2.2em;
    }
    .big.list{
        border: 2px rgba(175,175,175,0.3) solid;
        padding: 5px;
        width: 29%;
        background-color: rgba(175,175,175,0.3);
    }
    #chi {
        width: 5%;      
    }
    #cosa {
        width: 8%;        
    }
    #mezzi {
        width: 7%;        
    }
    #ph {
        width: 10%;      
    }
    .logo {
        float: right;
        width: 10%;
        height: 5%;
    }
    a{
    }
        a:link, a:visited{
            color: rgb(255,255,255);
            text-decoration: none;
        }
        a:hover {
            color: rgba(150, 150, 150, 0.5);
        }
    #line1{
        color: rgba(200, 200, 200, 0.5);
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
    }
    #sub1{
        margin-left: 0%;
        margin-top: 3%;
        border-color: rgba(200, 200, 200, 0.5);
        border-style: solid;
        border-width: 2px;
        background-color: rgba(175,175,175,0.4)
    }
    .block {
        width: 300px;
        height: 300px;
        font-size: 1.5em;
        display: inline-block;
        margin-top: 2%;
        margin-left: 3%;
        font-size: 2em;
        font-weight: bold;
        position: relative;
        text-align: right; 
        opacity: 0.5;
    }
        .block:hover{
            transition-duration: 250ms;
            opacity: 1;
        }
    .blockTitle {  
        position: absolute;
        margin-left: -40%;
        margin-top: 70%;
    }
    #blo1 {
        background-image: url("../img/casa.jpeg");     
        color: rgba(200,200,200,1);
    }
    #blo2 {
        background-image: url("../img/assi.jpeg");
        color: rgba(200,200,200,1);
    }
    #blo3{
        background-image: url("../img/bancali.jpeg");
        color: rgba(200,200,200, 1);
    }
    .credits{
        position: fixed;
        float: left;
        text-align: center;
        height: 3%;
        margin-top: 7%;
        margin-left: -1%;
        background-color: rgba(200,200,200, 1);
        width: 101%;
    }
}
@media screen and (min-width: 1921px) and (max-width: 4060px) {
    #sfondo{
        width: 50%;
        display: block;
        height: 339px;
        margin-left: 25%;
        animation: opacity 3s infinite;
     }
     #scritta {
        font-size: 5em;
        font-weight: bold;
        float: left;
        margin-top: -9%;
        margin-left: 43%;
        text-align: center;
        animation: opacity1 3s infinite;
     }
}
